a{
  color: aliceblue;
  text-decoration: none;
}

a:hover{
  color: aqua;
  text-decoration: underline;
}

body {
  background-color: "#000000";
}

@media (min-width: 341px) {
  body {
    font-size: 13px;
  }
}

@media (min-width: 420px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 515px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 565px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 611px) {
  body {
    font-size: 16px;
  }
}


@media (min-width: 640px) {
  body {
    font-size: 18px;
}
}